:host {
  display: block;
}
.align-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.note-modal {
  border: white solid 2px;
  background: white;
  border-radius: 0.25rem;
  max-width: 600px;
  padding: 22px;
}