:host {
  display: block;
}
.qr-questionnaireRenderer-questionNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-questionnaireRenderer-questionNotFound-button-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.qr-questionnaireRenderer-questionNotFound-noteModal {
  border: white solid 2px;
  background: white;
  border-radius: 0.25rem;
  max-width: 600px;
  padding: 22px;
}