.card {
  border-radius: 20px;
  border: 0;
}
.qr-question-optionCard {
  margin-top: 3px;
}
.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 92%;
  margin-top: 10px;
  margin-left: 5%;
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59, 173, 227, 1);
  background: -moz-linear-gradient(45deg, rgba(16, 158, 0, 1) 0%, rgba(242, 237, 98, 1) 44%, rgba(242, 237, 38, 1) 47%, rgba(250, 155, 2, 1) 70%, rgba(251, 125, 2, 1) 82%, rgba(255, 0, 0, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(16, 158, 0, 1)), color-stop(44%, rgba(242, 237, 98, 1)), color-stop(47%, rgba(242, 237, 38, 1)), color-stop(70%, rgba(250, 155, 2, 1)), color-stop(82%, rgba(251, 125, 2, 1)), color-stop(100%, rgba(255, 0, 0, 1)));
  background: -webkit-linear-gradient(45deg, rgba(16, 158, 0, 1) 0%, rgba(242, 237, 98, 1) 44%, rgba(242, 237, 38, 1) 47%, rgba(250, 155, 2, 1) 70%, rgba(251, 125, 2, 1) 82%, rgba(255, 0, 0, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(16, 158, 0, 1) 0%, rgba(242, 237, 98, 1) 44%, rgba(242, 237, 38, 1) 47%, rgba(250, 155, 2, 1) 70%, rgba(251, 125, 2, 1) 82%, rgba(255, 0, 0, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(16, 158, 0, 1) 0%, rgba(242, 237, 98, 1) 44%, rgba(242, 237, 38, 1) 47%, rgba(250, 155, 2, 1) 70%, rgba(251, 125, 2, 1) 82%, rgba(255, 0, 0, 1) 100%);
  background: linear-gradient(45deg, rgba(16, 158, 0, 1) 0%, rgba(242, 237, 98, 1) 44%, rgba(242, 237, 38, 1) 47%, rgba(250, 155, 2, 1) 70%, rgba(251, 125, 2, 1) 82%, rgba(255, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
  height: 22px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59, 173, 227, 1);
  background: -moz-linear-gradient(45deg, rgba(16, 158, 0, 1) 0%, rgba(242, 237, 38, 1) 47%, rgba(250, 155, 2, 1) 70%, rgba(251, 125, 2, 1) 82%, rgba(255, 0, 0, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(16, 158, 0, 1)), color-stop(47%, rgba(242, 237, 38, 1)), color-stop(70%, rgba(250, 155, 2, 1)), color-stop(82%, rgba(251, 125, 2, 1)), color-stop(100%, rgba(255, 0, 0, 1)));
  background: -webkit-linear-gradient(45deg, rgba(16, 158, 0, 1) 0%, rgba(242, 237, 38, 1) 47%, rgba(250, 155, 2, 1) 70%, rgba(251, 125, 2, 1) 82%, rgba(255, 0, 0, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(16, 158, 0, 1) 0%, rgba(242, 237, 38, 1) 47%, rgba(250, 155, 2, 1) 70%, rgba(251, 125, 2, 1) 82%, rgba(255, 0, 0, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(16, 158, 0, 1) 0%, rgba(242, 237, 38, 1) 47%, rgba(250, 155, 2, 1) 70%, rgba(251, 125, 2, 1) 82%, rgba(255, 0, 0, 1) 100%);
  background: linear-gradient(45deg, rgba(16, 158, 0, 1) 0%, rgba(242, 237, 38, 1) 47%, rgba(250, 155, 2, 1) 70%, rgba(251, 125, 2, 1) 82%, rgba(255, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1);
  height: 22px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #474747;
  height: 26px;
  width: 15px;
  max-width: 80px;
  position: relative;
  bottom: 2px;
  background-color: none;
  cursor: -webkit-grab;
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}
input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid #474747;
  height: 26px;
  width: 15px;
  max-width: 80px;
  position: relative;
  bottom: 2px;
  background-color: none;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}
.sliderticks {
  display: flex;
  width: 91%;
  margin-left: 4.5%;
  justify-content: space-between;
  padding: 0 10px;
}
.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #d3d3d3;
  height: 10px;
  line-height: 40px;
  margin: 0 0 20px 0;
}
.qr-vasQuestion-labels {
  display: flex;
  width: 90%;
  margin-left: 5%;
  justify-content: space-between;
  padding: 0 10px;
}
.qr-vasQuestion-labels p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 10px;
}
