:host {
  display: block;
}
.item {
  font-size: 1rem;
  width: 40px;
  min-width: 55px;
  height: 40px;
  display: flex;
  margin: 2px 0 0 8px;
  padding: 5px 0 0 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ced4da;
}
.item-selected {
  font-size: 1rem;
  width: 40px;
  min-width: 55px;
  height: 40px;
  display: flex;
  margin: 2px 0 0 8px;
  padding: 5px 0 0 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #495057;
  border-bottom: 3px solid #495057;
}
.padding {
  margin-bottom: 1rem;
}
.flex {
  display: flex;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}
.col-sm-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .col-sm-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  display: block;
  font-size: 87.5%;
  color: #212529;
}