:host {
  display: block;
}
.qr-question-hidden {
  visibility: hidden;
}
.qr-choiceQuestion-radioButtonCard {
  min-height: 60px;
  flex: 1;
  display: flex;
  justify-content: center;
}
.qr-choiceQuestion-radioButton {
  margin: 0.34em;
  height: 1.1em;
  width: 1.1em;
}
.qr-question-title{
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.card {
  border-radius: 20px;
  border: 0;
  margin: 6px;
  cursor: pointer;
}
.qr-choiceQuestion-answerDisplay {
  width: 100%;
  padding-left: 2em;
  font-size: 1.22em;
  font-weight: 600;
}
.card-body-flex {
  display: flex;
  flex-direction: row;
}
.card-choice {
  flex-grow: 1;
}
.qr-choiceQuestion-answerDisplay {
  font-size: 1.15em;
  font-weight: 700;
}

/*TODO This wasn't scoped */
.custom-control-label::before {
  top: 0.25em;
  left: -1em;
  height: 1.2em;
  width: 1.2em;
}
.custom-control-label::after {
  top: 0.26em;
  left: -1em;
  height: 1.2em;
  width: 1.2em;
}
