:host {
  display: block;
}
.qr-question-hidden {
  visibility: hidden;
}
.qr-question-title{
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.qr-question-optionCard {
  margin-top: 3px;
}
.qr-question-visible {
  visibility: visible;
}
.my-invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
.card {
  border-radius: 20px;
  border: 0;
}

.size {
  width: 100%;
}