:host {
    display: block;
}
.qr-question-hidden {
    visibility: hidden;
  }
  .qr-question-title{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  .qr-question-optionCard {
    margin-top: 3px;
  }
.card {
    border-radius: 20px;
    border: 0;
}